output/scenario1-ChemoVSChemo/R-scenario1-ChemoVSChemo-[3-9]-*.Rout
output/scenario1-ChemoVSChemo/R-scenario1-ChemoVSChemo-??-*.Rout
output/scenario1-ChemoVSChemo/R-scenario1-ChemoVSChemo-???-*.Rout

output/scenario2-ChemoVSImmuno/R-scenario2-ChemoVSImmuno-[3-9]-*.Rout
output/scenario2-ChemoVSImmuno/R-scenario2-ChemoVSImmuno-??-*.Rout
output/scenario2-ChemoVSImmuno/R-scenario2-ChemoVSImmuno-???-*.Rout

output/scenario2bis-ChemoVSImmuno/R-scenario2bis-ChemoVSImmuno-[3-9]-*.Rout
output/scenario2bis-ChemoVSImmuno/R-scenario2bis-ChemoVSImmuno-??-*.Rout
output/scenario2bis-ChemoVSImmuno/R-scenario2bis-ChemoVSImmuno-???-*.Rout

output/scenario3-ImmunoVSImmuno/R-scenario3-ImmunoVSImmuno-[3-9]-*.Rout
output/scenario3-ImmunoVSImmuno/R-scenario3-ImmunoVSImmuno-??-*.Rout
output/scenario3-ImmunoVSImmuno/R-scenario3-ImmunoVSImmuno-???-*.Rout

output/scenario4-Crossing/R-scenario4-Crossing-[3-9]-*.Rout
output/scenario4-Crossing/R-scenario4-Crossing-??-*.Rout
output/scenario4-Crossing/R-scenario4-Crossing-???-*.Rout

output/type1_error/R-type1_error-[3-9]-*.Rout
output/type1_error/R-type1_error-??-*.Rout
